<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinPractice"
        tools:targetApi="31">
        <activity
            android:name=".mvvmcompose.SampleComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_sample_compose"
            android:theme="@style/Theme.KotlinPractice" />
        <activity
            android:name=".mvvmcoroutine.MvvmCoroutineActivity"
            android:exported="false" />
        <activity
            android:name=".loginlogout.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".loginlogout.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".sharedpref.SharedPrefActivity"
            android:exported="false" />
        <activity
            android:name=".retromvvm.RetrofitMVVMActivity"
            android:exported="false" />
        <activity
            android:name=".retrouser.RetrouserActivity"
            android:exported="false" />
        <activity
            android:name=".retro.RetrofitActivity"
            android:exported="false" />
        <activity
            android:name=".rating.RatingActivity"
            android:exported="false" />
        <activity
            android:name=".fullscreenviews.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/Theme.KotlinPractice.Fullscreen" />
        <activity
            android:name=".tabbedviews.TabbedViewsActivity"
            android:exported="false"
            android:label="@string/title_activity_tabbed_views"
            android:theme="@style/Theme.KotlinPractice.NoActionBar" />
        <activity
            android:name=".scrolling.ScrollingActivity"
            android:exported="false"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/Theme.KotlinPractice.NoActionBar" />
        <activity
            android:name=".bottomnav.BottomNavActivity"
            android:exported="false"
            android:label="@string/title_activity_bottom_nav" />
        <activity
            android:name=".drawerprac.NaigationDrawerActivity"
            android:exported="false"
            android:label="@string/title_activity_naigation_drawer"
            android:theme="@style/Theme.KotlinPractice.NoActionBar" />
        <activity
            android:name=".basicviews.BasicViewsActivity"
            android:exported="false"
            android:theme="@style/Theme.KotlinPractice" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>